body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  color: white;
}

#output {
  margin-top: 20px;
  font-weight: bold;
}
